.tab-item-animate {
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: 32px;
  transform-origin: 0 0;
  transition: transform 0.25s;
}

.tabs .tabs-item:first-child.active ~ .tab-item-animate {
  transform: translateX(0) scaleX(0.2);
}

.tabs .tabs-item:nth-child(2).active ~ .tab-item-animate {
  transform: translateX(20%) scaleX(0.2);
}

.tabs .tabs-item:nth-child(3).active ~ .tab-item-animate {
  transform: translateX(calc(20% * 2)) scaleX(0.2);
}

.tabs .tabs-item:nth-child(4).active ~ .tab-item-animate {
  transform: translateX(calc(20% * 3)) scaleX(0.2);
}

.tabs .tabs-item:nth-child(5).active ~ .tab-item-animate {
  transform: translateX(calc(20% * 4)) scaleX(0.2);
}
